:root{
--accent-color: #2196f3;
--litle-text-color: #212121;
--logo-black: #000000;
--primery-text-color: #757575;
--button-text-color-hover-focus:#ffffff;
--background-color-dark: #2f303A;
--background-color-with: #f5f4fA;
--text-with-opacity: #ffffff99;
}

body{
  font-family: 'Roboto',sans-serif; 
  font-size: 14px;
  color: var(--primery-text-color);
  background-color: var(--button-text-color-hover-focus);
  letter-spacing: 0.03em;
}

li{
list-style: none;
}

.link{
text-decoration: none;
}

.section-title{
line-height: 1.16;
font-weight: 700;
font-size: 36px;
font-style: normal;
text-align: center;
color: var(--litle-text-color)
}
  .logo{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color:var(--accent-color)
}

.nav-menu .headers:hover,
.nav-menu .headers:focus,
.nav-menu .headers .current:hover,
.contact-menu .item:hover,
.contact-menu .item:focus{
  color:var(--accent-color)

}

.nav-menu .current {
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--accent-color)
}

.headers{
  font-weight: 500;
  color: var(--logo-black);
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
  }

.item{
font-weight: 500;
font-style: normal;
letter-spacing: 0.02em;
line-height: 1.14;
color: var(--primery-text-color)
}

/* <---Seccion hero---> */
.hero {
  background: var(--background-color-dark)
}
.hero-title{
line-height: 1.36;
font-weight: 900;
font-size: 44px;
text-transform: uppercase;
font-style: normal;
letter-spacing: 0.06em;
color: var(--button-text-color-hover-focus)
}
.button-primary{
  line-height: 1.87;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.06em;
  color: var(--button-text-color-hover-focus);
  background-color: var(--accent-color);
  cursor:pointer;
}

.button-primary:hover{
  background-color: var(--accent-color);
}
/* seccion benefits */
.benefits-title{
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--litle-text-color);
}
.benefits-description{
font-weight: 400;
font-style: normal;
line-height: 1.71;
color: var(--primery-text-color)
}
/* seccion What we do */

/* seccion our team*/
.our-team{
background-color: var(--background-color-with)
}


.title{
line-height:1.18;
font-weight: 500;
font-style: normal;
font-size: 16px;
color: var(--litle-text-color)
}
.description{
line-height:1.18;
font-weight: 400;
font-size: 16px;
font-style: normal;
color: var(--primery-text-color)
}


/* seccion footer*/
.footbar{
  background:var(--background-color-dark)
}

.contact{
  line-height:1.71;
  font-weight: 400;
  font-style: normal;
  color:var(--button-text-color-hover-focus)

}

.info{
  line-height:1.71;
  font-weight: 400;
  font-style: normal;
  color: var(--text-with-opacity)
}


/*Aqui inicia la siguiente página*/

.portafolio-list .current{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-style: normal;
  background-color:  var(--accent-color);
    color: var(--background-color-with);
  cursor: pointer;
}

/* seccion portafolio*/
.button{
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  font-size: 16px;
  color: var(--litle-text-color);
  cursor: pointer;
}
.button:hover{
  background-color: var(--accent-color);
}

.porfafolio-title{
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: var(--litle-text-color)
  }

.portafolio-description{
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  font-size: 16px;
  color: var(--background-color-with)
}
.footbar-list .info:hover,
.footbar-list .info:focus
{
color:var(--accent-color);
}
